body {
    margin: 0;
    overflow-x: hidden;
}
#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
* {
    margin: 0;
    transition: all 0.3s linear;
}
h1{
    background: transparent!important;
    background-color: transparent!important;
    color: #fff;
    position: absolute
}